* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: -.01em;
  line-height: 2em;
  font-weight: 400;
}

header{
  height: 101px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
}

a {
  color: black;
  text-decoration: none;
}

a:hover, .icon {
  color: #D99152;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  height: 100%;
  
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  font-size: .9em;
}

.nav-items a {
  padding-left: 1.5em;
}

.nav-items a:first-child {
  padding-left: 0;
}

.left-items, .right-items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.left-items {
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.right-items i {
  font-size: 1.3em;
}
.right-items span {
  margin-right: 1em;
  margin-left: .5em;
}

.right-items a {
  margin-left: 1.4em;
  font-weight: 500;
}

.logo {
  width: 85px;
  height: 85px;
  margin-right: 30px;
}

.logo img {
  border-radius: 100px;
  height: 100%;
}

.icon {
  width: 20px;
}

a.button {
  display: inline-block;
  background: none;
  border: 1px solid black;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  margin-top: 2.5rem;
  font-size: 1rem;
}
nav a.button {
  margin-top: 0;
}

a.button:hover {
  background-color: rgba(0,0,0,.06);
  color: rgba(0,0,0,.87);
}

a.blackButton {
  color: white;
  background-color: black;
}

a.blackButton:hover {
  background-color: rgba(0,0,0,.7);
  border-color: rgba(0,0,0,.7);
  color: #fff;
}
a.whiteButton {
  color: white;
  border-color: white;
}

a.whiteButton:hover {
  color:white;
  background-color: hsla(0,0%,100%,.12);
}

.text-container .button {
  font-weight: 500;
}
/* MAIN */
.left-right-section {
  display: flex;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  max-height: 625px;
  padding-left: 0;
  padding-right: 0;
}
.left-right-section img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.left-right-section .image {
  flex: 0 1 auto;
  width: calc(100% * (6 / 12));
  display: flex;
  justify-content: center;
}

.left-right-section .text {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 50%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 3.2rem 40px;
  font-size: 24px;
  line-height: 1.5;
}

.text h1,h2,h3 {
  margin-top: 0;
}

.text h2 {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.2;
}

.text-container {
  max-width: 85%;
}
#giveaway {
  background-color: #F2ECE9;
  max-height: 280px;
  margin-top: 2.2rem;
}

#giveaway .text {
  font-size: 17px;
}

#giveaway .button {
  margin-top: 2rem;
}
#giveaway .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#giveaway span {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
  align-self: center;
  font-family: 'Permanent Marker', cursive;
}

.container section {
  background-color: #F2ECE9;
}

.container section:nth-child(2) {
  background-color: #26160C;
  color: white;
}


.container section:nth-child(3){
  background-color: #D99152;
}

.event {
  max-height: 420px;
}

.event h2 {
  font-size: 24px;
}
.event p {
  font-size: 19px;
}
.container section#terms {
background-color: #fff;
text-align: center;
margin: 4rem auto;
max-width: 40%;
font-size: 13px;
}

#terms a {
  text-decoration: underline;
}

#terms p:nth-child(3){
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer {
  box-shadow: 0 -1px 3px rgba(0,0,0,.1),0 -2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
  padding: 24px 0;
}

footer .container {
  padding: 0;
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 2rem;
}

footer .container .column ul {
  list-style: none;
  padding-left: 0;
}

footer .container .column a {
  color: rgba(0,0,0,.58);
  padding-top: .8rem;
  padding-bottom: .8rem;
}

footer .column a:hover{
  color: rgba(0,0,0,.87);
}

footer h3 {
  margin-bottom: 1.8rem;
  font-weight: 400;
}

footer .column {
  width: 190px;
  max-width: 190px;
  margin-left: 3rem;
}

footer .column:first-child {
  margin-left: 0;
}

footer .icons img{
  padding-left: 1.6em;
}

footer .icons img:first-child {
  padding-left: 0;
}

footer div.icons.container {
  border-bottom: 0;
}